blinker==1.8.2
cachetools==5.5.0
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
Flask==3.0.3
google-auth==2.35.0
idna==3.10
importlib_metadata==8.5.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
pyasn1==0.6.1
pyasn1_modules==0.4.1
pytz==2024.2
requests==2.32.3
RPi.bme280==0.2.4
rsa==4.9
smbus2==0.4.3
urllib3==2.2.3
Werkzeug==3.0.4
zipp==3.20.2
